/* 
    Created on : Jan 17, 2015, 1:27:37 PM
    Author     : bmiller
*/

html,
body{
    width:100%;
    height:100%;
    overflow:hidden;
    background:rgb(80,80,90);
}

body *{
    position:relative;
}

.serialPortsList{
    width:25%;
    height:100%;
    background:rgba(255,255,255,.4);
    box-shadow: 0 0 5px 2px rgba(0,0,0,.7);
    position:absolute;
    top:0;
    left:0;
}

.terminal{
    width:75%;
    height:100%;
    position:absolute;
    top:0;
    left:25%;
}

.out{
    height:calc( 100% - 30px );
    background:rgba(0,0,0,.5);
    font-size:18px;
    color:rgb(200,255,200);
}

input,
.button{
    height:30px;
    line-height:30px;
    font-size:18px;
    background:rgb(220,220,220);
    color:rgb(20,20,40);
    border:none;
    display:inline-block;
    padding:0 5px;
}

.button{
    color:rgb(0,0,0);
    text-align:center;
}

.input{
    width:60%;
}

.send,
.delimiter{
    width:calc(20% - 40px);
    margin:0 0 0 10px;
}

.send{
    cursor:pointer;
    background:rgb(190,220,190);
    box-shadow: inset 0 0 5px rgba(0,0,0,.7);
}